.card-product {
  .card-image__land {
    object-fit: contain;
    aspect-ratio: 3 / 2;
  }
  &:hover {
    cursor: pointer;
  }
  .card-image {
    height: 100%;
    aspect-ratio: 3 / 2;
    object-fit: contain;
  }
}
