.cart-resume {
  width: 390px;
  height: 620px;
  background: #eaeaea;
  border-radius: 30px;
}

.checkout-button {
  width: auto;
  background-color: #8790f9;
  height: auto;
  border: 1px solid #8790f9;
  border-radius: 50px;
  text-align: center;
}

.goback-button {
  width: auto;
  background-color: #8790f9;
  height: auto;
  border: 1px solid #8790f9;
  border-radius: 50px;
  text-align: center;
}
.cancel-button {
  background-color: white;
  color: #767676;
  border: 1px solid #3df95c;
  border-radius: 50px;
}
