.landing-main__container {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  > div {
    height: 400px;
    img {
      height: calc(100% - 120px);
      object-fit: cover;
    }
  }
}
